:root {
	--border-width: 0px;
	--border-color: none;
}

body,
html {
	padding: 0;
	margin: 0;
	/* overflow-y: hidden; */
	font-family: 'Din';
}

.main {
	position: relative;
	width: 1920px;
	height: 1080px;
	display: flex;
	flex-direction: column;
	background-image: url('../_shared/assets/bg_corner.png');
	overflow: hidden;
	z-index: 0;
}

.header {
	position: relative;
	width: 100%;
	height: calc(160px - var(--border-width));
	border-bottom: var(--border-width) solid var(--border-color);
	color: var(--light);
	display: flex;
	justify-content: space-between;
	font-size: 3rem;
	z-index: 1;
}

.header-background {
	width: 100%;
	height: 158px;
	position: absolute;
	font-size: 16rem;
	z-index: -1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-style: italic;
	font-family: 'Helvetica Now';
	letter-spacing: -10px;
	color: rgba(0, 0, 0, 0);
	-webkit-text-stroke: 3px #1f1f1f;
}

.header-team {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.header-team.blue {
	justify-content: flex-end;
}

.team-border {
	font-size: 1.4rem;
	writing-mode: vertical-lr;
	text-orientation: sideways;
	height: 100%;
	padding: 0 8px;
	background-color: var(--dark);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-weight: bold;
	letter-spacing: 1px;
}

.team-border.red {
	transform: rotate(180deg);
	background-color: var(--red);
}

.team-border.blue {
	background-color: var(--blue);
}

.team-text {
	margin-bottom: 4px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 4px;
	font-size: 3.6rem;
}

.team-text.red {
	padding-left: 64px;
}

.team-text.blue {
	align-items: flex-end;
	padding-right: 64px;
}

.team-flag {
	width: 70px;
	height: 47px;
	background-image: url('../_shared/assets/flags/XX.png');
}

.team-name {
	font-weight: 700;
	display: flex;
	align-items: center;
	gap: 12px;
}

.team-points {
	display: flex;
	gap: 8px;
}

.team-points.blue {
	flex-direction: row-reverse;
}

.team-point {
	width: 28px;
	height: 28px;
	border: 4px solid var(--light);
	transition: 300ms ease;
}

.team-point.red {
	border: 4px solid var(--red);
}

.team-point.blue {
	border: 4px solid var(--blue);
}

.team-point.filled.red {
	background-color: var(--red);
}

.team-point.filled.blue {
	background-color: var(--blue);
}

.header-middle {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.header-middle__item {
	opacity: 0;
	display: none;
	transition: opacity 300ms ease;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header-middle__item-title {
	text-transform: uppercase;
	font-size: 1.6rem;
	font-style: italic;
	letter-spacing: 1px;
}

.sponsor {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	color: var(--accent);
	font-weight: bold;
}

.sponsor-logo {
	width: 48px;
	height: 48px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.sponsor-logo.wooting {
	background-image: url('../_shared/assets/logo-wooting.png');
}

.sponsor-logo.bluebunny {
	background-image: url('../_shared/assets/logo-bluebunny.png');
}

.logo {
	width: 230px;
	height: 120px;
	background-image: url('../_shared/assets/logo_light_512.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.stage-name {
	font-family: 'Script';
	margin-top: -26px;
	margin-bottom: -30px;
	color: var(--accent);
	font-weight: 500;
	font-size: 4rem;
}

.gameplay-area {
	width: 100%;
	height: 720px;
}

.footer {
	position: relative;
	border-top: var(--border-width) solid var(--border-color);
	width: 100%;
	height: calc(200px - var(--border-width));
	color: var(--accent);
}

.top-footer {
	position: relative;
	height: calc(100px - var(--border-width));
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Mont';
	font-variant-numeric: tabular-nums;
	opacity: 1;
	transition: opacity 300ms ease;
}

.team-scores {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.4rem;
	line-height: 2.4rem;
	gap: 24px;
	height: fit-content;
}

.team-score {
	position: absolute;
	top: 25px;
	height: 2.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.team-score.red {
	right: 970px;
	color: var(--red);
}

.team-score.blue {
	left: 970px;
	color: var(--blue);
}

.winning {
	font-weight: bold;
	font-size: 2.6rem;
	line-height: 2.6rem;
}

.score-diff-container {
	margin-top: 38px;
	font-size: 1.2rem;
	font-weight: bold;
	color: var(--red);
}

.score-diff {
	opacity: 1;
	transition: opacity 300ms ease;
}

.score-diff.red {
	color: var(--red);
}

.score-diff.blue {
	color: var(--blue);
}

.score-diff::before {
	content: attr(data-before);
	display: inline-block;
	font-size: 0.8rem;
	padding-right: 6px;
	transform: translateY(-2px);
}

.score-diff::after {
	content: attr(data-after);
	display: inline-block;
	font-size: 0.8rem;
	padding-left: 6px;
	transform: translateY(-2px);
}

.lead-bar {
	position: absolute;
	height: 20px;
	width: 0;
	background-color: var(--accent);
	top: 2px;
	left: calc(1920px / 2);
	transition: width 300ms ease;
}

.lead-bar.red {
	background-color: var(--red);
}

.lead-bar.blue {
	background-color: var(--blue);
}

.lead-bar.red::before {
	content: '';
	border-style: solid;
	border-width: 10px 10px 10px 0;
	border-color: transparent var(--red) transparent transparent;
	position: absolute;
	left: -10px;
}

.lead-bar.blue::after {
	content: '';
	border-style: solid;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent var(--blue);
	position: absolute;
	right: -10px;
}

.bottom-footer {
	height: 100px;
	display: flex;
	align-items: flex-end;
	/* gap: 4px; */
	color: var(--light);
}

.map-slot-container {
	width: 0px;
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	font-size: 2.2rem;
	font-weight: 700;
	background-color: var(--accent);
	opacity: 1;
	transition: opacity 300ms ease, width 300ms ease, background-color 300ms ease;
}

.map-slot-container.red {
	background-color: var(--red);
}

.map-slot-container.blue {
	background-color: var(--blue);
}

.map-slot {
	opacity: 1;
	transition: opacity 300ms ease;
	writing-mode: vertical-lr;
	text-orientation: sideways;
	transform: rotate(180deg);
}

.map-image-container {
	position: relative;
	height: 100%;
	width: 400px;
	box-sizing: border-box;
	border: 4px solid var(--accent);
	transition: border-color 300ms ease;
}

.map-image-container.red {
	border-color: var(--red);
}

.map-image-container.blue {
	border-color: var(--blue);
}

.map-image {
	width: 100%;
	height: 100%;
	background-color: var(--dark);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	filter: brightness(80%);
}

.picked-by {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 1.2rem;
	text-transform: uppercase;
	letter-spacing: 0px;
	font-weight: 700;
	background-color: var(--accent);
	padding-top: 4px;
	padding-left: 12px;
	padding-right: 8px;
	opacity: 0;
	transition: opacity 300ms ease, background-color 300ms ease;
}

.picked-by.red {
	background-color: var(--red);
}

.picked-by.blue {
	background-color: var(--blue);
}

.stats-container {
	width: 980px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	font-size: 1.2rem;
	margin-bottom: 9px;
	gap: 2px;
}

.stats-section {
	display: flex;
	gap: 12px;
	margin-left: 10px;
}

.title {
	font-size: 1.7rem;
	line-height: 1.7rem;
	font-weight: 700;
	margin-bottom: 2px;
	width: 980px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.stat {
	display: flex;
	align-items: flex-end;
	gap: 4px;
}

.stat-value {
	color: var(--accent);
	font-size: 1.6rem;
	line-height: 1.6rem;
	font-weight: 700;
	transform: translateY(1px);
}

.chat-container {
	position: absolute;
	bottom: 0;
	right: 0;
	height: calc(100% - 2px);
	width: 800px;
	background-color: var(--dark);
	border-top: 2px solid var(--accent);
	border-left: 2px solid var(--accent);
	color: var(--light);
	opacity: 0;
	transition: opacity 300ms ease;
}

.chat-title {
	position: absolute;
	top: 0;
	right: 0;
	background-color: var(--accent);
	padding: 4px 24px;
	font-size: 1.2rem;
	font-weight: bold;
	overflow-y: scroll;
	overflow-x: hidden;
}

.chat {
	padding: 12px 10px;
	height: calc(100% - 2 * 12px);
	overflow: hidden;
	display: flex;
	flex-direction: column-reverse;
	gap: 2px;
	line-height: 1.32rem;
	transition: height 300ms ease, padding 300ms ease;
}

.chat-message {
	display: flex;
	gap: 4px;
	font-size: 1.3rem;
}

.chat-message:nth-of-type(n+8) {
	display: none;
}


.chat-name {
	font-weight: 700;
	color: #d6d6d6;
}

.red>.chat-name {
	color: var(--red-chat);
}

.blue>.chat-name {
	color: var(--blue-chat);
}

.bot>.chat-name {
	background-color: #e45678;
	color: var(--light);
	padding-left: 12px;
	padding-right: 9px;
	border-radius: 20px;
}

.bot>.chat-body {
	color: #fd8ba5;
}

.chat-name::after {
	content: ':';
	margin-right: 4px;
}

.chat-time {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-top: 2px;
	min-width: 46px;
	text-align: center;
	font-size: 1.2rem;
	color: var(--text-dark);
}

.chat-timer-container {
	position: absolute;
	width: 100%;
	bottom: 0;
	right: 0;
	transform: translateY(32px);
	transition: transform 300ms ease;
}

.chat-timer__progress-container {
	position: absolute;
	width: 100%;
	height: 6px;
	right: 0;
	bottom: 0;
	background-color: var(--progress-bg);
}

.chat-timer__progress {
	position: absolute;
	width: 0%;
	height: 100%;
	right: 0;
	bottom: 0;
	background-color: var(--accent);
	animation: none;
}

@keyframes progress {
	0% {
		width: 100%;
	}

	100% {
		width: calc(0% + 32px);
	}
}

@keyframes progress_blink {
	0% {
		background-color: var(--accent);
	}
	75% {
		background-color: var(--progress-bg);
	}
	100% {
		background-color: var(--accent);
	}
}

.stopwatch-container {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: var(--accent);
}

.stopwatch {
	width: 22px;
	height: 22px;
	background-color: var(--light);
	mask-image: url('../_shared/assets/stopwatch-solid.svg');
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
	-webkit-mask-image: url('../_shared/assets/stopwatch-solid.svg');
	-webkit-mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	z-index: 10;
}

/*Scrollbar*/
::-webkit-scrollbar {
	width: 0px;
	visibility: 0;
}

/* Track */
::-webkit-scrollbar-track {
	margin-top: 25px;
	margin-bottom: 25px;
	visibility: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: grey;
	border-radius: 10px;
}
