@font-face {
	font-family: 'Courier';
	src: url('../../_data/fonts/CourierStd.otf');
	font-weight: 400;
}

@font-face {
	font-family: 'Courier';
	src: url('../../_data/fonts/CourierStd-Bold.otf');
	font-weight: 700;
}

@font-face {
	font-family: 'Helvetica Now';
	src: url('../../_data/fonts/HelveticaNowText-Medium.otf');
	font-weight: 400;
}

@font-face {
	font-family: 'Helvetica Now';
	src: url('../../_data/fonts/HelveticaNowText-Bold.otf');
	font-weight: 500;
}

@font-face {
	font-family: 'Helvetica Now';
	src: url('../../_data/fonts/HelveticaNowText-Black.otf');
	font-weight: 700;
}

:root {
	--footer-height: 100px;
	--bottom-width: 1440px;
}

body,
html {
	padding: 0;
	margin: 0;
	overflow-y: hidden;
	font-family: 'Courier';
}

#main {
	width: 1920px;
	height: 1080px;
	position: relative;
	background-image: url('../../_data/assets/gameplay-ro32.png');
}

#full-overlay {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 1920px;
	height: 1080px;
}

#stage-outer-container {
	margin-top: 92px;
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 1px;
}

#stage-container {
	color: rgb(31, 31, 31);
	font-weight: 500;
	font-size: 28px;
	padding: 2px 20px;
}

#header {
	width: 1920px;
	height: 160px;
	opacity: 100%;
	transition: ease-in-out 500ms;
	z-index: 1;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 48px;
	letter-spacing: 0px;
	color: black;
	filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.1));
}

#red-name {
	position: absolute;
	left: 222px;
	top: 40px;
	transition: ease-in-out 500ms;
	text-align: left;
	color: #111111;
	text-transform: uppercase;
}

#blue-name {
	position: absolute;
	right: 222px;
	top: 40px;
	text-align: right;
	color: #111111;
	text-transform: uppercase;
}

#red-points {
	position: absolute;
	left: 219px;
	top: 80px;
	display: flex;
	flex-direction: row;
	width: fit-content;
	padding: 4px;
	transition: 300ms ease-out;
}

#blue-points {
	position: absolute;
	right: 219px;
	top: 80px;
	display: flex;
	flex-direction: row-reverse;
	width: fit-content;
	padding: 4px;
	transition: 300ms ease-out;
}

.star-r {
	z-index: 100;
	width: 22px;
	height: 22px;
	background-color: none;
	margin-right: 6px;
	transition: 200ms ease;
	border: 6px solid #111111;
}

.star-b {
	z-index: 100;
	width: 22px;
	height: 22px;
	background-color: none;
	margin-left: 6px;
	transition: 200ms ease;
	border: 6px solid #111111;
}

#red-flag {
	position: absolute;
	width: 70px;
	height: 47px;
	left: 40px;
	top: 58px;
	visibility: hidden;
}

#blue-flag {
	position: absolute;
	width: 70px;
	height: 47px;
	right: 40px;
	top: 58px;
	visibility: hidden;
}

#gameplay-area {
	width: 100%;
	height: 720px;
	background-color: #111111;
}


/* footer */

#footer {
	width: 100%;
	height: 200px;
	display: flex;
	flex-wrap: wrap;
	color: #ffffff;
	font-weight: 400;
}

#top-footer {
	position: relative;
	width: 100%;
	height: calc(200px - var(--footer-height));
	display: flex;
	justify-content: center;
	font-size: 52px;
	text-align: center;
	font-family: 'Mont';
	font-variant-numeric: tabular-nums;
	font-size: 44px;
	opacity: 1;
}

#bottom-footer {
	position: relative;
	height: var(--footer-height);
	background-image: url('../_data/assets/banner.png');
	font-family: 'Helvetica Now';
	width: 100%;
	display: flex;
}

#score-red {
	width: 300px;
	height: 100%;
	padding-right: 12px;
	display: flex;
	align-items: center;
	font-size: 1em;
	color: #111111;
	text-align: right;
	justify-content: flex-end;
}

#score-blue {
	width: 300px;
	height: 100%;
	padding-left: 12px;
	display: flex;
	align-items: center;
	font-size: 1em;
	color: #111111;
	text-align: left;
	justify-content: flex-start;
}

#score-diff {
	position: absolute;
	height: 24px;
	left: 50%;
	transform: translateX(-50%);
	padding: 2px 6px;
	font-family: 'Mont';
	font-variant-numeric: tabular-nums;
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: -1px;
	bottom: 100px;
	color: #111111;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	opacity: 1;
	transition: opacity 300ms ease;
}

#score-diff::before {
	content: attr(data-before);
	display: inline-block;
	width: 26px;
	font-size: 12px;
	margin-bottom: 2px;
}

#score-diff::after {
	content: attr(data-after);
	display: inline-block;
	width: 26px;
	font-size: 12px;
	margin-bottom: 2px;
}

#lead-bar {
	position: absolute;
	top: 6px;
	right: 960px;
	left: unset;
	height: 18px;
	width: 0px;
	background-color: #111111;
	transition: ease-out 300ms;
}

#mapimage-container {
	width: 670px;
	height: var(--footer-height);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-origin: border-box;
	box-sizing: border-box;
	border: 0 solid rgba(0, 0, 0, 0);
	transition: 250ms;
}

#picked-by-label {
	position: absolute;
	z-index: 3;
	writing-mode: vertical-rl;
	background-color: #141414;
	text-align: center;
	height: 100%;
	width: 36px;
	display: flex;
	flex-direction: column;
	bottom: 0;
	left: 0;
	font-weight: 700;
	font-size: 17px;
	transition: 200ms;
	color: #ffffff;
}

#picked-by-label span {
	width: 100%;
	height: 60px;
	margin-left: 6px;
	transform: rotate(180deg);
}

#picked-by-flag {
	transform: rotate(270deg);
	position: absolute;
	bottom: 12px;
	left: 0px;
	width: calc(70px / 2);
	filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.5));
}

#stats-container {
	width: var(--bottom-width);
	flex: 1;
	display: flex;
	flex-direction: column;
	color: #111111;
	text-shadow: 0 0 8px rgba(10, 10, 10, 0.2);
}

#title-container {
	position: absolute;
	left: 0;
	z-index: 2;
	width: 660px;
	height: 87px;
	padding-right: 10px;
	padding-bottom: 13px;
	bottom: 0;
	font-size: 22px;
	display: flex;
	text-align: right;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
	text-shadow: 2px 2px 12px rgba(10, 10, 10, 0.7);
	background-color: rgba(0, 0, 0, 0.3);
}

#title {
	letter-spacing: 1px;
	font-weight: 700;
	margin-bottom: 4px;
}

#map-diff {
	font-weight: 400;
	font-size: 0.7em;
	margin-left: 18px;
}

#props-container {
	z-index: 2;
	width: 100%;
	height: 36px;
	margin-top: 34px;
	font-size: 18px;
	font-weight: 500;
	display: flex;
	flex-direction: column;
}

.props-group {
	margin-left: 18px;
	margin-right: 4px;
}

.props-item {
	margin-right: 16px;
}

.highlight {
	font-size: 22px;
	color: #ff5663;
	font-weight: 700;
}

.highlight i {
	font-size: 14px;
	vertical-align: super;
	color: #ff5663;
	font-style: normal;
}

.highlight svg {
	margin: 0 4px;
}

.highlight i polygon {
	fill: #ff5663;
}

#chat-container {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 684px;
	height: 184px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 8px;
	font-size: 17px;
	transition: ease-in-out 500ms;
	z-index: 2;
	color: #f5f5f5;
	background-color: rgba(0, 0, 0, 0.83);
	border-left: 4px solid #ff5663;
	overflow: hidden;
}

#chat {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.chat {
	display: flex;
	text-align: left;
	line-height: 23.3px;
	font-size: 19px;
}

.chatTime {
	width: 56px;
	min-width: 56px;
	color: rgb(80, 80, 80);
	margin-right: 6px;
	text-align: center;
}

.wholeChat {
	width: 95%;
	display: flex;
}

.chatName {
	color: white;
	white-space: nowrap;
	width: max-content;
}

.chatText {
	white-space: normal;
	word-wrap: break-word;
	overflow: hidden;
}

.unknown {
	color: #c0c0c0;
}

.bot {
	color: #a6db88;
	font-weight: bold;
}

.bot+.chatText {
	color: #dbf1cf;
}

.right {
	color: #93b5ff;
}

.left {
	color: #ff8d8d;
}

/*Scrollbar*/
::-webkit-scrollbar {
	width: 0px;
	visibility: 0;
}

/* Track */
::-webkit-scrollbar-track {
	margin-top: 25px;
	margin-bottom: 25px;
	visibility: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: grey;
	border-radius: 10px;
}

.text {
	display: flex;
	justify-content: center;
}
