:root {
    --map-width: 500px;
    --map-height: 60px;
    --mod-width: 78px;
    --border-default: #505050;
    --border-banned: #222222;
    --border-picked: var(--accent);
}

body,
html {
    padding: 0;
    margin: 0;
    /* overflow-y: hidden; */
    user-select: none;
    font-family: 'Din';
}

.main {
	position: relative;
	width: 1920px;
	height: 1080px;
	display: flex;
	flex-direction: column;
    /* background-image: url('../_shared/assets/temp_bg.png'); */
    color: var(--light);
}

.header {
    height: 160px;
}

.footer {
    height: 200px;
}

.mappool-container {
    flex: 1;
    max-height: 720px;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.mod-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

.map {
    position: relative;
    width: var(--map-width);
    height: var(--map-height);
    background-color: var(--dark);
    border: 2px solid;
    border-color: var(--border-default);
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: 300ms ease;
}

.map.picked {
    border-color: var(--light);
}

.map.picked.red {
    border-color: var(--red);
}

.map.picked.blue {
    border-color: var(--blue);
}

.map.banned {
    border-color: var(--border-banned);
    color: #8f8f8f;
}

.map-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--dark);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(40%) grayscale(30%) blur(2px);
    transform: scale(1.2);
    z-index: 0;
}

.map-content {
    z-index: 1;
    display: flex;
    align-items: center;
}

.mod-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    width: calc(var(--mod-width) - 2 * 12px);
    border: 2px solid var(--border-default);
    padding: 2px;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 700;
    background-color: var(--border-banned);
    color: var(--light);
    transition: border-color 300ms ease, background-color 300ms ease;
}

.mod-icon.nm {
    border-color: #5677b3;
    background-color: #3d5685;
}

.mod-icon.hd {
    border-color: #b9935a;
    background-color: #85663d;
}

.mod-icon.hr {
    border-color: #b95c5c;
    background-color: #853d3d;
}

.mod-icon.dt {
    border-color: #9b5cb9;
    background-color: #6b3d85;
}

.mod-icon.fm {
    border-color: #58ac6a;
    background-color: #3d7c4b;
}

.mod-icon.tb {
    border-color: #52949c;
    background-color: #396469;
}

.mod-icon.banned {
    color: #bebebe;
    border-color: #474747;
    background-color: #292929;
}

.map-stats {
    display: flex;
    flex-direction: column;
}

.map-stats-section {
    display: flex;
    gap: 4px;
}

.map-top {
    font-size: 1.2rem;
    font-weight: 700;
}

.map-title {
    width: calc(var(--map-width) - var(--mod-width) - 8px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.map-difficulty {
    max-width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.map-difficulty-container {
    display: flex;
    overflow: hidden;
}

.map-difficulty-container::before {
    content: '['
}

.map-difficulty-container::after {
    content: ']'
}

.map-mapper::before {
    content: 'by ';
}

.picked-by-label {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--border-default);
    width: 0;
    padding: 0px 0px;
    text-transform: uppercase;
    font-weight: 700;
    transition: 300ms ease;
}

.picked-by-label.banned {
    width: auto;
    padding: 3px 10px 1px 12px;
    background-color: var(--border-banned);
    color: #fcfcfc;
}

.picked-by-label.picked {
    width: auto;
    padding: 3px 10px 1px 12px;
    background-color: var(--light);
    color: var(--border-banned);
}

.picked-by-label.picked.red {
    background-color: var(--red);
    color: var(--light);
}

.picked-by-label.picked.blue {
    background-color: var(--blue);
    color: var(--light);
}

.blink-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--light);
    opacity: 0;
    animation: none;
}

@keyframes blinker {
    5% {
        opacity: 0.35;
    }
}

@keyframes slowPulse {
    50% {
        opacity: 0.2;
    }
}

.controls {
    position: absolute;
    left: 1920px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 12px;
    font-size: 1.5rem;
    font-weight: bold;
    width: 220px;
}

.control-item {
    width: 100%;
    text-align: center;
}

.control-label {
    color: #bfbfbf;
    font-size: 20px;
    font-family: sans-serif;
}

.scene-button {
    width: 240px;
    height: 40px;
    margin-bottom: 12px;
    padding-left: 8px;
    font-size: 22px;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: left;
}

.activeScene {
    background-color: #3a8f29!important;
}

.current-picker {
    font-size: 2rem;
}

.current-picker.red {
    color: var(--red);
}

.current-picker.blue {
    color: var(--blue);
}

.button {
    background-color: #d4d4d4;
    padding: 6px 8px;
}

.auto-pick {
    background-color: #ffa4a4;
}

.auto-pick.enabled {
    background-color: #b3ffa4;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    margin-top: 25px;
    margin-bottom: 25px;
    visibility: 0;
}

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}
